body {
    background: url(../images/pai.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pos{
    padding-top: 450px;
}
.map{
    padding: 0 250px;
    position: fixed;
}
.map .text-success{
    padding: 25px 650px;
    position: fixed;
}
iframe{
    border-radius: 40px;
}
#image{
    width: 650px;
    height: 480px;
    border-radius: 45px;
}
#image1{
    width: 300px;
    height: 450px;
    position: fixed;
    margin-left: 450px;
}
.nombre{
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    color: rgb(5, 14, 0);
}
.parra{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    color:rgb(5, 14, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.parra1{
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    color: rgb(6, 7, 6);
    font-size: 20px;
}
.parra2{
    background-color: rgb(255, 255, 255);
    border-radius: 38px;
    color: rgb(6, 7, 6);
    font-size: 20px;
}
